.container {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.main {
  width: 100%;
  max-width: rem(800px);
  margin: rem(36px) auto;
  min-height: 70vh;
  padding: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  background-color: light-dark(
    var(--mantine-color-lightBlue-5),
    var(--mantine-color-darkBlue-9)
  );
}