.dark {
  display: none;
  fill: #000;
}

.light {
  display: block;
  fill: #fff;
}

[data-mantine-color-scheme="dark"] .dark {
  display: block;
  fill: #000;
}

[data-mantine-color-scheme="dark"] .light {
  display: none;
}

[data-mantine-color-scheme="light"] .dark {
  display: none;
}

[data-mantine-color-scheme="light"] .light {
  display: block;
  fill: #fff;
}
