.container{
  width: rem(200px);
  padding: var(--mantine-spacing-xs);
  background-color: light-dark(
    var(--mantine-color-lightBlue-5),
    var(--mantine-color-darkBlue-9)
  );
  border-radius: var(--mantine-radius-md);
}

.gridItem {
  justify-items: center;
  align-items: center;
}