.container{
  width: 13rem;
  margin: 0;
  padding: 0.5rem;
  background-color: light-dark(
    var(--mantine-color-lightBlue-5),
    var(--mantine-color-darkBlue-9)
  );
  border-radius: 7px;
}

.gridItem {
  justify-items: center;
  align-items: center;
}