.container {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.mainContainer{
  display: grid;
  grid-template-columns:  1fr auto;
  gap: var(--mantine-spacing-md);
  margin: 3rem auto;
}

.main {
  width: rem(600px);
  padding: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  background-color: light-dark(
    var(--mantine-color-lightBlue-5),
    var(--mantine-color-darkBlue-9)
  );
  * {
    animation-name: fuwa;
    animation-duration: 0.5s;
  }
  @keyframes fuwa{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}