.container {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.mainContainer{
  margin: 2rem 0;
}

.side {
  position: sticky;
  top: 0;
  align-self: start;
}

.main {
  width: rem(600px);
  padding: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  background-color: light-dark(
    var(--mantine-color-lightBlue-5),
    var(--mantine-color-darkBlue-9)
  );
  * {
    animation-name: fuwa;
    animation-duration: 0.5s;
  }
  @keyframes fuwa{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}