.container {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.mainContainer{
  display: grid;
  grid-template-columns:  1fr auto;
  gap: 1rem;
  margin: 3rem auto;
}

.main {
  width: rem(600px);
  padding: 1rem;
  border: 1px solid blue;
  border-radius: 7px;
* {
  animation-name: fuwa;
  animation-duration: .5s;
}
@keyframes fuwa{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
}
