.item {
  text-decoration: none;
  overflow: hidden;
  border: none;
  background-color: light-dark(
    var(--mantine-color-lightBlue-5),
    var(--mantine-color-darkBlue-9)
  );
  &[data-active] {
    :where(:disabled, [data-disabled]) {
      opacity: inherit;
      cursor: default;
    }
  }
  .selectedControl {
    background-color: light-dark(
      var(--mantine-color-lightBlue-2),
      var(--mantine-color-darkBlue-7)
    );
  }
  .unSelectedControl {
    &:hover {
      background-color: light-dark(
        var(--mantine-color-lightBlue-2),
        var(--mantine-color-darkBlue-7)
      );
    }
  }
}


.link {
  text-decoration: none;
}
.icon, .label, .chevron, .panel {
  pointer-events: none;
}
.content {
  padding: var(--mantine-spacing-sm);
  background-color: light-dark(
    var(--mantine-color-lightBlue-0),
    var(--mantine-color-darkBlue-5)
  );
}
