.link {
  text-decoration: none;
}

.img {
  overflow: hidden;
  transition: transform 0.3s ease;
  object-position: 50% 0%;
  &:hover {
    transform: scale(1.1);
  }
}

.title {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
