.button {
  background-color: light-dark(
    var(--mantine-color-lightBlue-1),
    var(--mantine-color-dark-7)
  );
  &:hover{
    background-color: light-dark(
      var(--mantine-color-lightBlue-3),
      var(--mantine-color-dark-8)
    );
  }
  &:active{
    color: var(--mantine-color-red-text);
  }
}