.card {
  text-decoration: none;
  overflow: hidden;
  position: relative;
  transition: transform 0.2s ease;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
    pointer-events: none;
    z-index: 1;
  }

  &:hover::before {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.imageSection {
  box-sizing: border-box;
  width: calc(100% + 40px);
  height: 240px;
  overflow: hidden;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover;
  object-position: 50% 0%;
  transition: transform 0.3s ease;

  .card:hover & {
    transform: scale(1.02);
  }
}

.content {
  padding: var(--mantine-spacing-md) 0;
}

.title {
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
}
