.card {
  text-decoration: none;
  overflow: hidden;
}

.imageSection {
  box-sizing: border-box;
  width: calc(100% + 40px);
  height: 240px;
  overflow: hidden;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover;
  object-position: 50% 0%;
  transition: transform 0.3s ease;

  .card:hover & {
    transform: scale(1.05);
  }
}

.content {
  padding: var(--mantine-spacing-md) 0;
}

.title {
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
}
