.button {
  margin: 0.5rem 0.5rem 0.5rem 0;
  color: light-dark(
    var(--mantine-color-indigo-8),
    var(--mantine-color-indigo-2));
  background-color: light-dark(
    var(--mantine-color-lightBlue-1),
    var(--mantine-color-dark-7)
  );
  &:hover{
    color: light-dark(
      var(--mantine-color-indigo-9),
      var(--mantine-color-indigo-3));
    background-color: light-dark(
      var(--mantine-color-lightBlue-3),
      var(--mantine-color-dark-8)
    );
  }
  &:active{
    color: light-dark(
      var(--mantine-color-red-7),
      var(--mantine-color-red-4)
    );
  }
}

.image {
  object-fit: contain;
  position: relative !important;
  width: 100%;
  overflow: hidden;
  transition: transform .2s ease-in;
  &:hover{
    transform: scale(1.02);
    opacity: 0.9;
  }
}