.footer {
  border-top: rem(1px) solid
  light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--mantine-spacing-md);
  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
    gap: 8px;
  }
}